[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pytest = "*"
pytest-cov = "*"
python-dotenv = "*"
flake8 = "*"
pre-commit = "*"

[packages]
python-telegram-bot = "*"
requests = "*"
urlextract = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
